* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
.cabecalho{
    background-color: #f7edda;
    color: #4d330b;
    border: solid #f3e7ce;
    border-width: 0 0 1.6px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3px 10px;
    font-size: 1.47em;
    position: sticky;
    top: 0;
    z-index: 800;
}

.cabecalho a{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 5px 10px;
}

.menu-navegacao{
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    position: sticky;
}

/* Container de navegação */
.butao{
    display: flex;
    justify-content: flex-end; /* alinha os itens à esquerda */
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* Estilo dos botões / links */
.button{
    background-color: #f7edda;
    margin: 0px 20px; 
    color: #4d330b;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    display: inline-block;
}

/* Quando o mouse por cima, muda a cor do botão */
.button:hover {
    text-decoration: underline;
    transform: scale(1.1)
}

body{
    background-color: #f9efe0;
}

#inicio a{
    color: #4d330b;
}

.a {
    text-decoration: none;
}


/* Aqui começa a primeira seção, onde tem a logo*/
/* #logo{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 1000px;
}
#logo img {
    padding: 30px;
} */

/* Aqui tem a segunda seção, onde tem o texto e o botão */
#inicio {
    margin-top: 100px;

}

 #secao2 {
    display: flex;
    color: #4d330b;
    margin-left: 270px;
    /* margin-top: 150px; */
    margin-bottom: 180px;
}

.titulo{
    font-size: 1.4em;
    padding-left: 35px;
    background-color: #f9efe0;
}

.text{
    position: relative;
    left: 0;
    transition-property: left;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out
}

.text:hover{
    left: 20px;
}

#secao2 h1 {
    font-family: cursive;
    font-size: 4em;
    margin-top: 4px;
}

#secao2 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* logo */
#secao2 img{
    width: 200px;
    height: 210px;
    margin-right: 100px;
} 

/*Butão azul do explorar.*/

.explorar {
    background-color: #007BFF;  
    color: #2a2c2a; 
    text-decoration: none; 
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    letter-spacing: 0.2em;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.explorar:hover {
    background-color: #0f65c1; 
}

#secao2 a{
    letter-spacing: 0.2em;
}

#secao3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    /* margin-right: 0%; */
}

.person{
    font-size: 1.1em;
    color: #4d330b;
    background-color: #f9efe0;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding-right: 5px 10px;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 0;
    width: 430px;  
}

.person h2 {
    font-family: cursive;
    font-size: 2.1em;
    margin-bottom: 10px;
}

.person p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
}

.img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    padding: 5px 10px;
    margin-right: 5%;
}

.img img{
    width: 200px;
    height: 270px;
    border-radius: 20%;
    border: 5px solid #b0a28c;

    
    position: relative;
    transition-property: left;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.img img:hover{
    transform: scale(1.1)
}

.img #img1{
    margin-left: 2%;
    margin-right: 2%;
}
.img #img2{
    margin-left: 2%;
    margin-right: 2%;
}
.img #img3{
    margin-left: 2%;
    margin-right: 2%;
}
.img #img4{
    margin-left: 2%;
    margin-right: 2%;
}

.img p{
    font-family: Gliker, sans-serif;
    font-size: 1.2em;
    color: #4d330b;
    text-align: center;
    margin-top: 10px;
}



/* Grid dos cards */
#destaque{
    display: flex;
    flex-direction: column;
    justify-self: self-start;
    margin-top: 100px;
    padding: 20px;
    padding-left: 200px;
    margin: 0;
}

#destaque h2 {
    font-family: cursive;
    font-size: 2.4em;
    margin-bottom: 10px;
    margin-top: 45px;
}

#destaque p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
}

.cards {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    margin-top: 0;
    padding: 20px;
    justify-content: space-between;
    margin-right: auto;
}

.personalidades {
    width: auto;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-top: 40px;
    margin: 0;
} 

.personalidade img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    flex-grow: 1;
    border-radius: 18px;
    box-shadow: -1px -3px 0px 6px  rgba(12, 8, 11, 0.1);
    margin-bottom: 18px;
} 

.personalidade .info {
    background-color: #c28617;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    margin: 0;
}

.infor {
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.personalidade h3, .personalidade p {
    margin: 0;
    font-size: 0.9em;
    color: #2e180e;
}

.personalidade p{
    align-items: center;
    margin-top: 5px;
    font-style: italic;
}  

.personalidade img {
    max-width: 100%;
}



.contato {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 40px auto;
    margin-top: 120px;
    padding: 0 20px;
}

/* Formulário */
.formulario {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 700px;
    height: 460px;
}

.formulario h2 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    padding: 10px;
}

input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background-color: #f7edda;
}

#assunto {
    padding: 30px;
}

button {
    background-color: #926956;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    width: 40%;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #593423;
    transform: scale(1.1)
}

/* Informações */
.info {
    justify-content: flex-start;
    margin-right: 1200px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
}

a:link {
    color: #2e180e;
    text-decoration:none;
}

/* Rodapé */
footer {
    background-color: #f7edda;
    border-top: 1px solid #eee;
    padding: 1rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #555;
}

.rodape{
    display: flex;
}

.linha {
    display: flex;
    justify-content: flex-end;
    padding-left: 400px;
}



