* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    background-color: rgba(141, 131, 131, 0.8);
    color: #111010;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    font-size: 1em;
}

header a{
    color: black
}

/* Container de navegação */
.butao{
    display: flex;
    justify-content: flex-end; /* alinha os itens à esquerda */
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* Estilo dos botões / links */
.button{
    background-color: rgba(141, 131, 131, 0.8);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    display: inline-block;
}

/* Quando o mouse por cima, muda a cor do botão */
.button:hover {
    font-size: 1.1em;
}

main a{
    color: black;
}

.a {
    text-decoration: none;
}


/* Aqui começa a primeira seção, onde tem a img*/
#secao1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 500px;
}

/* Aqui tem a segunda seção, onde tem o texto e o botão */
#secao2{
    font-family: fantasy;
    font-size: 1.2em;
    margin-left: 650px;
    margin-bottom: 200px;
}

#secao2 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

#secao3{
    display: inline-block;
    margin-top: 45px;
    margin-left: 300px;
}

#secao4{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 70px; */
    margin-left: 300px;
}


/*Butão azul do explorar. Tá certo o butão só falta o txt ficar branco */

.explorar {
  background-color: #007BFF;  /* azul do botão */
  color: white; 
  text-decoration: none;               /* texto branco */
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* ta certo tbm */
.explorar:hover {
    background-color: #0056b3; }